\textbf{Program Code Sample {{question_name}}}

\vspace{20pt}

\begin{lstlisting}
{{{question_source}}}
\end{lstlisting}

\vspace{20pt}

\begin{longtable}[]{@{}ll@{}}

\begin{minipage}[t]{0.5\columnwidth}\raggedright\strut
\textbf{Program {{question_name}} Notes}
\strut\end{minipage} &
\begin{minipage}[t]{0.5\columnwidth}\raggedright\strut
\textbf{Program {{question_name}} Output}

\vspace{20pt}

\textbf{Start Time}: \underline{~~~~~~~~~~~~~~~~}

\vspace{10pt}

\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}

\vspace{20pt}

\textbf{End Time}: \underline{~~~~~~~~~~~~~~~~}

\vspace{25pt}

\textbf{How confident are you that you evaluated the code correctly?}\\
\vspace{10pt}
\begin{center} (Unsure) 1 2 3 4 5 6 (Positive) \end{center}

\strut\end{minipage}\tabularnewline

\end{longtable}

\pagebreak
