\textbf{DEMOGRAPHIC SURVEY:}

\begin{enumerate}
  \begin{onehalfspacing}
\item
  What is your age? \underline{~~~~~~~~~~~~~~~~}

\item
  What gender do you identify with? \underline{~~~~~~~~~~~~~~~~}

\item
  What race do you identify with? \underline{~~~~~~~~~~~~~~~~}

Please describe your university education:

\begin{tabular}{|p{40mm}|p{30mm}|p{22mm}|p{28mm}|p{18mm}|}
  \hline
  Institution & Country & Degree Type  & Course of Study & \# of Years \\
              &         & (BS/PhD/...) & (CS/Math/...)   & (So far)   \\
  \hline
  &&&&\\
  \hline
  &&&&\\
  \hline
  &&&&\\
  \hline
\end{tabular}

\vspace{1em}
\item
  What is your current employment role (student/programmer/manager)? \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~}

\item
  During university, how many courses did you take in which you had to program? \underline{~~~~~~~~~~~~~~~~~}

\item
  How did you learn to program? \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~}

\item
  What is your preferred programming language? \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~}

\item
  If you are currently programming on a daily basis, which language(s) do you
  use? \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~}

\item
  Think about the largest C/C++ program that you have either written or
  contributed to:
  \begin{itemize}
  \item Roughly how many lines of code was the entire code base? \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~}
  \item Roughly how many lines of code did you contribute? \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~}
  \end{itemize}

\item
  How would you estimate your programming proficiency? (please circle an
  appropriate number)
  \begin{itemize}
  \item General programming                       (Novice) 1 2 3 4 5 6 (Expert)
  \item C/C++                                     (Novice) 1 2 3 4 5 6 (Expert)
  \item Relative to 2nd year programming students (Worse) 1 2 3 4 5 6 (Better)
  \item Relative to professional programmers      (Worse) 1 2 3 4 5 6 (Better)
  \end{itemize}

\item
  Have you ever been a professional programmer? \underline{~~~~~~~~~~~~~}
  \begin{itemize}
  \item If so, for how long? \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~}
  \end{itemize}

\item
  Have you ever been a professional programmer using primarily C/C++? \underline{~~~~~~~~~~~~~}
  \begin{itemize}
  \item If so, for how long? \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~}
  \end{itemize}

\end{onehalfspacing}
\end{enumerate}

\vspace{5em}

(Continued on next page)

\pagebreak

Please list each programming language you've used, along with the year in
which you learned it, the number of years you've spent actively working with
the language, and an estimate of the total number of lines of code you've
written for each. For example if you learned C in 2012 and used it for the
next year, but didn't use it again until you starting programming in C last
year, your entry may look like this:

\vspace{1em}

\begin{tabular}{|p{20mm}|p{20mm}|p{15mm}|p{15mm}|p{60mm}|}
  \hline
  Language & Learned Year & Active \# Years  & Lines & Notes \\
  \hline
  C & 2012 & 2 & 30k & Read K\&R book \\
  \hline
\end{tabular}

\vspace{1em}
Please fill out the table below:
\vspace{1em}

\begin{tabular}{|p{20mm}|p{20mm}|p{15mm}|p{15mm}|p{60mm}|}
  \hline
  Language & Learned Year & Active \# Years  & Lines & Notes \\
  \hline
  &&&& \\
  \hline
  &&&& \\
  \hline
  &&&& \\
  \hline
  &&&& \\
  \hline
  &&&& \\
  \hline
  &&&& \\
  \hline
  &&&& \\
  \hline
  &&&& \\
  \hline
\end{tabular}

\vspace{3em}

Please use the space below to share with us anything about your programming knowledge and experience not captured by the previous questions.

\end{document}
