\documentclass[11pt, a4paper, oneside]{article}

\usepackage{longtable,booktabs}
\usepackage{graphicx,grffile}

\IfFileExists{parskip.sty}{%
\usepackage{parskip}
}{% else
\setlength{\parindent}{0pt}
\setlength{\parskip}{6pt plus 2pt minus 1pt}
}







%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%



\usepackage{listings}
\usepackage{courier}
\lstset{basicstyle=\fontsize{12}{16}\ttfamily,breaklines=false}
% \lstset{
%   basicstyle  = \ttfamily,
%   % basewidth = {.5em,0.5em},
%   % columns   = flexible,
%   % columns   = fullflexible,
% }

\usepackage{setspace}

\usepackage{fancyhdr}

\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\usepackage[margin=0.9in,headheight=15pt]{geometry}

%%%%%%%%%%%%%%%%%%%%%%%
%   Header & Footer
%%%%%%%%%%%%%%%%%%%%%%%

\pagestyle{fancy}
\fancyhf{}
\fancyhead[R]{SUBJECT I.D.~\#~~\underline{~~~~~~{{subject_id}}~~~~~}}

\renewcommand{\headrulewidth}{0pt}
\fancyfoot[C]{\thepage}


\begin{document}

\thispagestyle{empty}

\includegraphics[width=0.5\paperwidth]{images/tandon_long_color.png}

\vspace{20pt}

You have been invited to take part in a research study that explores how
programmers read and understand code. This study will be conducted by Justin
Cappos of the Department of Computer Science and Engineering at New York
University. If you agree to be in this study, you will be asked to do the
following:

\begin{itemize}
\item
  {Read 8 program snippets (each of about 5 lines) and write down the program
    output while verbalizing your thought process.}
\item
  {Complete a demographic survey about your programming experience.}
\end{itemize}

Making mistakes as you go is expected, in fact they may help us understand
better how you think about code. Your performance during this study will not be
shared with your professors, fellow students, or the public, and will not affect
your grades.

There are no known risks associated with your participation in this research
beyond those of everyday life. By helping the investigator complete this
research, you are assisting in the development of better interaction between
programmers and code that could have positive benefits for all software
developers. Participation in this study will take approximately an hour.

Confidentiality of your research records will be strictly maintained by
assigning a pseudonym to each participant. No data is directly linked to any
individual participant. Only the researchers who are approved by the IRB office
for this study will have access to the participants' identifying information.

To improve the ability to analyze our interaction, we will audio record this
session. We will use an automated cloud-based service to transcribe our
conversation, but no humans will be involved with that process. Your results
will remain anonymous, though parts of your interview may be included in our
eventual report of this work.

Participation in this study is voluntary. You may refuse to participate or
withdraw at anytime without penalty. For interviews, questionnaires, or surveys,
you have the right to skip any questions you prefer not to
answer. Nonparticipation or withdrawal will not affect the services you receive
at NYU, and if you are a student, will not affect your grades or academic
standing.

If you have any questions about the study or your participation in it, or you
wish to report a research-related problem, you may contact Justin Cappos at
(718) 260-3116, or jcappos@nyu.edu, 2 MetroTech Center.

For questions about your rights as a research participant, you may contact the
University Committee on Activities Involving Human Subjects, New York
University, 665 Broadway, Suite 804, New York, New York, 10012, at
ask.humansubjects@nyu.edu or (212) 998-4808.

%You will be given a copy of this consent document for your records.

\vspace{20pt}

Agreement to Participate

\vspace{20pt}

\rule{0.7\linewidth}{\linethickness}

Subject's Signature \& Date

\pagebreak

\begin{center}\textbf{Study on Code Comprehension}\end{center}

\vspace{20pt}

\textbf{DIRECTIONS:}

Thank you for agreeing to participate in this study. Please read these
instructions carefully.

We will show you 8 small C programs, and ask you to \textbf{hand evaluate each
program}, executing the program as if you were a computer. While evaluating each
program please \textbf{speak aloud your reasoning, thoughts, and actions}. When
you have finished answering each of the questions, we will go back and discuss
your answers.  Please write short notes as you evaluate the programs so we can
go back and discuss them afterwards.

For each question please write:

\begin{itemize}
\item The output generated by the code
\item How confident you are that your answer is correct
\end{itemize}

Following each code sample, you will find a page divided into two columns. The
left hand side is to be used as ``scratch paper,'' for notes or for working
through the code (however, you can also write notes anywhere on the page if need
be). In the right hand column, labeled ``Program Output,'' please record the
output of the program, emitted by the \texttt{printf} function. Each program
compiles and runs without error. If you are not sure what the correct output is,
you please make a verbal and written note of this, and continue as well as you
can.

After the test, you will find a questionnaire about you and your programming
experience. Please complete this as well.

\begin{center}\rule{0.8\linewidth}{2pt}\end{center}


\textbf{Example of a Completed Response}

\vspace{10pt}

\textbf{Start Time}: \underline{~~~~~9:32 a.m.~~~~~}

\vspace{10pt}

\textbf{Program Code}

\begin{lstlisting}
void main() {
  int V1 = 3;

  V1 *= 2;

  printf("%d\n", V1);
}
\end{lstlisting}

\textbf{Program Output}

6

\textbf{Finish Time}: \underline{~~~~~9:49 a.m.~~~~~}

\begin{center}\rule{0.8\linewidth}{2pt}\end{center}

\pagebreak
