---
layout: page
title: Existence Experiment Questions
permalink: /2016-snippet-study/questions
tags: snippet
---

Participants were asked to report the standard output of 84 tiny (3-22 line) programs chosen in pairs randomly from 126 total. There is also a <a href="questions.csv">CSV</a> version of this list.

<br /><br />

<style>
  table {
    font-size: .9rem;
  }
  .details {
    padding-left: 2rem;
    padding-top: 0;
    padding-bottom: auto;
  }
</style>

<table>
  <tr><th width="30%">Details</th><th>Obfuscated</th><th>Transformed</th>
  {% for question in site.data.snippet_questions_wide %}
  <tr>
    <td class="details">
      <a name="q{{question.ID}}"></a>
      <a name="q{{question.Pair}}"></a>
      <h4> {{ question.AtomName }} </h4>
      <ul>
        <li> Obfuscated ID: {{ question.ID }} </li>
        <li> Transformed ID: {{ question.Pair }} </li>
        <li> Obfuscated Answer: {{ question.Answer_c }} </li>
        <li> Transformed Answer: {{ question.Answer_nc }} </li>

        {% if question.Errata != "" %}
          <li> <a href="/2016-snippet-study/errata#{{ question.Errata }}">Errata</a> </li>
        {% endif %}
      </ul>
    </td>
    <td class="confusing">
      <pre>{{question.Code_c}}</pre>
    </td>
    <td class="non-confusing">
      <pre>{{question.Code_nc}}</pre>
    </td>
  </tr>
{% endfor %}

</table>
